.row
  .col-md-4
    = image_tag @play.play_img.url(:play_show)
  .col-md-8
    .play-info
      %h1.play-title
        = @play.title
        %h3.play-director
          = @play.director
          %h4.play-category
            = @play.category.name
            %p.play-desc
              = @play.description

.row
  .col-md-12
    .reviews
      %h1 Reviews
      = render @play.reviews
      = link_to "Add Reviews", new_play_review_path(@play), class: "btn-custom"


.link.btn-group
  = link_to "Back", root_path, class: "btn btn-default"
  - if user_signed_in?
    - if @play.user_id == current_user.id
      = link_to "Edit", edit_play_path(@play), class: "btn btn-info"
      = link_to "Delete", play_path(@play), method: :delete, data: { confirm: "Are you sure"}, class: "btn btn-danger"
